{{#each entries}}
  <div class="row entry">
    <div class="span7">
      <h2>{{title}}</h2>
      <div class="content">{{{content}}}</div>
    </div>
    <div class="span2 offset meta">
      {{published_at}}
      <hr>
      <a href="{{url}}">{{title}}</a>
      <hr>
    </div>
  </div>
{{/each}}