{{#each entries}}
  <div class="row entry" data-entry="{{id}}">
    <div class="span7">
      <h2><a href="{{url}}">{{title}}</a></h2>
      <div class="content">{{{content}}}</div>
    </div>
    <div class="span3 meta">
      <a href="#" class="btn btn-inverse btn-small post-entry" data-method="post" data-remote="true" rel="nofollow">Post</a>
      <hr>
      <ul class="unstyled">
        <li>Posted: {{published_at}}</li>
        <li>From: <a href="{{feed.title}}">{{feed.url}}</a></li>
      </ul>
    </div>
  </div>
{{/each}}